include/*.h linguist-language=Assembly

include/strcmp.h linguist-language=C
include/strsep.h linguist-language=C

doc/zcore.7 linguist-documentation

install.sh linguist-vendored
extra/site/* linguist-vendored
