include/zcore/*.h linguist-language=Assembly

include/zcorestrcmp.h linguist-language=C
include/zcore/strsep.h linguist-language=C
include/zcore/strlen.h linguist-language=C

doc/zcore.7 linguist-documentation

install.sh linguist-vendored
extra/site/* linguist-vendored
